*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(45deg,pink,violet);
    width: 100vw;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
.container h1{
    font-size: 5rem;
    margin-bottom: 20px;
    font-family: "Satisfy", cursive;
    font-style: normal;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;

}
#b1{
    background-color: green;
    color: white;
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: "Satisfy", cursive;
    font-style: normal;
}
#b2{
    background-color: red;
    color: white;
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: "Satisfy", cursive;
    font-style: normal;
}
.fa-heart {
    color: rgb(60, 0, 60);
    font-size: 25px;
    position: absolute;
    animation:  heartMove linear 1;
    top: -10vh;
    z-index: 0;
}

@keyframes heartMove {
    0%{
        transform: translateY(-10vh) ;
    }
    100%{
        transform: translateY(110vh) ;
    }
}

svg {
  width: 100px;
  height: 100px;
}
path {
    fill: red;
}